@media screen and (min-width: 320px) {
  main {
    padding: 20px;
    flex: 1;
  }

  .hero {
    padding: 150px 0;
    justify-content: center;
  }

  .hero h2 {
    font-size: 24px;
  }

  .resto-item__header {
    height: 150px;
  }

  .resto-item .resto-item__header .resto-item__header__poster {
    height: 150px;
  }

  .resto-item .resto-item__header .resto-item__header__rating {
    padding: 8px;
  }

  .resto-item .resto-item__content {
    padding: 16px;
  }

  .resto-item .resto-item__content h3 {
    margin: 0 0 10px 0;
  }

  .detail {
    max-width: 100%;
    gap: 16px;
  }

  .detail__poster {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }

  .detail__desc h3 {
    font-size: 14px;
  }
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .resto {
    grid-template-columns: 1fr 1fr;
  }

  .resto {
    grid-template-columns: auto 1fr;
  }

  .resto .resto__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .resto .resto__desc {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .resto {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .resto {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .resto {
    grid-template-columns: repeat(5, 1fr);
  }
}
